*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url('fondo.jpg');
}

.Registro {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 40px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.Registro h1 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.Registro p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.Registro a {
  color: white;
  text-decoration: none;
}

.Registro a:hover {
  color: white;
  text-decoration: underline;
}

.Registro .botons {
  width: 100%;
  background: #02417c;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
.box{
  width: auto;
  height: 170px;
  float: 500px;
  margin: auto;
}
.dashed{
  width: 310px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 300px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}